/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*

1) Common Css
2) header
3) slider
4) Service
5) contant
6) Gallery
7) Contant-2
8) testimonial
9) Submit
10) footer

*/

/*=========================
    1) Common Css Start
===========================*/

a, a:active, a:focus, a:active {text-decoration:none !important}
img {max-width:100%}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin:0 0 15px;}
.clearfix{clear: both}

/*=========================
     Common Css End
===========================*/

/*=========================
	2)header Start
===========================*/

#header{padding: 40px 0px}
.block-left{}

#header .block-right{}
.contact-area{text-align: right; margin-top: 10px;}
.contact-area ul{margin: 0px; padding: 0px; list-style: none;}
.contact-area ul li{display: inline-block; margin-left: 40px; color:#3C3D42; font-size: 17px; font-family: 'Raleway', sans-serif; font-weight: 400px; }
.contact-area ul li i{margin-right: 10px; font-size: 18px; }


.nav-logo{margin-right: 30px; margin-top: 12px}
.navbar-default{background: none; border: none;}
.navbar-default .navbar-nav > li > a{ color:#8B9090;font-family: 'Raleway', sans-serif; font-weight: 400px; font-size: 14px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background: none; color:#3C3D42}

@media only screen and (min-width: 48em) {
    .navbar-default .dcha { position: absolute; right: 0;}
}

/*=========================
	header close
===========================*/

/*=========================
	4) Service Start
===========================*/

/*#service{ padding: 96px 0px;}*/
#service{ padding-bottom: 80px;}
#service .block-top{text-align: center;}
#service .service-header{margin: 0px}
#service .service-header h1{color:#636C6C; font-size: 36px; font-family: 'Raleway', sans-serif; font-weight: 700; }
#service .service-header p{color:#AFB8B8; font-size: 16px; font-family: 'Raleway', sans-serif; font-weight: 400; line-height: 24px}
#service .service-header h3{color:#636C6C; font-family: 'Raleway', sans-serif;}

/*=========================
	  Service closes
===========================*/

/*=========================
	9) footer Start
===========================*/

#footer{background: #2D312F;text-align: center; padding-top: 75px; padding-bottom: 50px;}
#footer .block{}
.footer-contant{}
.footer-contant h3{color:#8C9494; font-size: 24px; font-family: 'Raleway', sans-serif; font-weight: 400;margin: 0px; padding-bottom: 30px;}
.social-icon{}
.social-icon a{margin-right: 10px;}
.social-icon a i{background: #5d6461;
border-radius: 500px;
color: #2d312f;
font-size: 20px;
height: 42px;
padding-top: 11px;
width: 42px;}
.support-link{padding-top: 70px;}
.support-link ul{margin:0px; padding: 0px; list-style: none;}
.support-link ul li{display: inline-block; padding: 0px 10px}
.support-link ul li a{display: inline-block; color: #8C9494; font-size: 14px}

/*=========================
	 footer CLOSE
===========================*/


#service .block-bottom{}
#service .service-tab{}
#service .service-tab ul{float: left;list-style: outside none none;padding: 0;margin-right: 150px;}
#service .service-tab ul li{ border-right: 1px solid #DBE2E2;}
#service .service-tab ul li a{color: #9FA9A9; padding-top: 23px; padding-bottom: 17px;font-size: 20px; font-family: 'Raleway', sans-serif; font-weight: 400;display: block; padding-right: 60px}
#service .service-tab ul li a i{font-size: 45px; margin-right: 40px; position: relative;top: 10px;}
#service .service-tab ul li a:hover{border-right: 10px solid #5DCA88;padding-right: 50px}
#service .service-tab ul li a:hover i{color: #5DCA88}
#service .glyphicon {color:#428bca;}

.edit-tab{overflow: hidden;}
.edit-tab h1{color: #636C6C; font-size: 24px; font-family: 'Raleway', sans-serif; font-weight: 700; margin: 0px;margin: 0px;padding-bottom: 30px; padding-top:50px;}
.edit-tab p{color:#AFB8B8; font-size: 16px;font-family: 'Raleway', sans-serif; font-weight: 400; line-height: 24px;margin: 0px;}

.edit-tab-content{padding-top: 30px}
.teb-icon-edit{ height: 170px;width: 170px; margin: 0 auto; color:#5DCA88;}
.teb-icon-edit i{font-size: 170px}

#info {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DADADA;
    color: #333333;
    overflow:hidden;
    left: 78%;
    line-height: 20px;
    position: absolute;
    top: 15%;
}
.popupBox {
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
    -moz-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
    -o-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
    transition:visibility 0s linear 0.3s, opacity 0.3s linear;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition:all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay:0.5s;
    transition-delay: 0.5s;
}
.popupHover:hover > .popupBox {
    visibility:visible;
    opacity:1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}